{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'chat/groups_raw.html' %}
<div class="col-12 col-lg-7 col-xl-9 room room-shadow">
    <div class="py-2 px-4 border-bottom d-none d-lg-block">
        <div class="d-flex align-items-center py-1">
            <div class="position-relative">
                <img src="/static/blood.jpg" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
            </div>
            <div class="flex-grow-1 pl-3 txt">
                <strong>  Sharon Lessman</strong>
            </div>
            <div>
            </div>
        </div>
    </div>

    <div class="position-relative">
        <div class="chat-messages p-4">
            <div class="chat-message-right mb-4">
                <div>
                    <img src="/static/blood.jpg" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                    <div class="text-muted small text-nowrap mt-2 "><p class="time"> 2:43 am</p></div>
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3 msgbox">
                    <div class="font-weight-bold mb-1">You:</div>
                    Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix
                </div>
            </div>

            <div class="chat-message-left pb-4">
                <div>
                    <img src="/static/blood.jpg" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                    <div class="text-muted small text-nowrap mt-2"><p class="time">2:43 am</p></div>
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3 msgbox">
                    <div class="font-weight-bold mb-1">Sharon Lessman</div>
                    Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
                </div>
            </div>

        </div>
    </div>

    <div class="flex-grow-0 py-3 px-4 border-top">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type your message">
            <button class="btn btn-primary">Send</button>
        </div>
    </div>

</div>
{% endblock body %}